<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="refresh" content="1">
    <link rel="stylesheet" href="styles.css">
</head>

<body class="caption">
<div>
    <h1> Lobby</h1>
</div>


<div class="createGame">
    <h2>Vytvorit hru</h2>
    <input type="text"  id="createGameID" placeholder="Kod mistonosti">
    <button onclick="createGame()">Vytvořit hru</button>
</div>


<div class="joinGame">
    <h2>Připojit se</h2>
    <input type="text" id="joinGameID" placeholder="Kód mistonosti">
    <button onclick="joinGame()">Připojit</button>
</div>
</body>
</html>